@{
    ViewBag.Title = "Allergens Away";
}
<br />
<br />
<br />
<h1 style="text-align:center; font-family:'Times New Roman'; color:coral; font-weight: bold ">@ViewBag.Title</h1>

<div class="container">
    <div class="row">
        <div class="column">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <br />
                <br />
                <h4 style="font-family:Courier New, Courier, monospace; font-weight: bold">
                    Our mission is to disseminate information about food allergies.
                    We want to help those dealing with food allergies prepare food for
                    themselves and for those they care about.
                    Allergens Away is for parents who want to teach their kids
                    about food allergies experienced by their relatives or their families.
                </h4>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <br />
                <br />
                <h4 style="font-family:Courier New, Courier, monospace; font-weight: bold">
                    Allergens Away has everything one needs to help everyone live around their
                    dietary constraints and still have gastronomic adventures.
                </h4>
            </div>
        </div>

    </div>
    

    <style>
        .button {background-color:limegreen;
                        border: none;
                        color: white; 
                        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                        padding:15px 32px; 
                        text-align:center; 
                        border-radius: 12px;
        }

        .button:hover {background-color:green
        }

        .button:active {background-color:green;
                        box-shadow: 0 5px #666;
                        transform: translateY(4px)
        }
        </style>

    <div class="row">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <div class="column">
            <div class="btn col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <img src="~/Pictures/About us-recipes.jpg" style="height: 300px; width: 400px" />
                <br />
                <br />
                <button class="button">
                    Discover Allergy-free Recipes
                </button>


            </div>

            <div class="btn col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <img src="~/Pictures/About us-education.jpg" style="height: 300px; width: 400px" />
                <br />
                <br />
                <button class="button">
                    Plan Your Meals
                </button>

            </div>

            <div class="btn col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <img src="~/Pictures/About us-meal plan.png" style="height: 300px; width: 400px"/>
                <br />
                <br />
                <button class="button">
                    Teach Kids about Allergies
                </button>

            </div>

        </div>
    </div>



</div>